name: deploy
on:
  push:
    branches: [master]
  workflow_dispatch:

env:
  FUNCTION_NAME: vuanem_fb_offline_conversions
  API_VER: v11.0

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Cloud SDK
      uses: google-github-actions/setup-gcloud@v0.2.0
      with:
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Deploy to Cloud Functions
      run: >-
        gcloud functions deploy ${{ env.FUNCTION_NAME }}
        --entry-point=main
        --runtime=nodejs14
        --trigger-http
        --project=${{ secrets.PROJECT_ID }}
        --service-account=${{ secrets.GCP_SA }}
        --set-env-vars=ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }},API_VER=${{ env.API_VER }},TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }},TELEGRAM_CHAT_ID=${{ secrets.TELEGRAM_CHAT_ID }}
