name: deploy
on:
  push:
    branches: [master]
  workflow_dispatch:

env:
  NAME: vuanem_FB_Offline_Conversions

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Cloud SDK
      uses: google-github-actions/setup-gcloud@v0.2.0
      with:
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Deploy to Cloud Functions
      run: >-
        gcloud functions deploy ${{ env.NAME }}
        --entry-point=main
        --runtime=python38
        --trigger-http
        --project=${{ secrets.PROJECT_ID }}
        --service-account=${{ secrets.GCP_SA }}
        --set-env-vars=\
        ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }},\
        API_VER=${{ secrets.API_VER }},\
        OFFLINE_EVENT_SET_ID=${{ secrets.OFFLINE_EVENT_SET_ID}},\
        TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }},\
        TELEGRAM_CHAT_ID=${{ secrets.TELEGRAM_CHAT_ID }}
